<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Alvaro Herbert
      <span class="text-primary">Medrano Perez</span>
    </h1>
    <div class="subheading mb-5">
      Bolivia · BO · (+591) 752-81378 ·
      <a href="mailto:aljak1815@gmail.com">aljak1815@gmail.com</a>
    </div>
    <p class="lead mb-5 text-wrap">
      Hola, soy un apasionado de la tecnología y un amante del aprendizaje
      empírico. Tengo experiencia aprovechando metodologías ágiles para
      desarrollar productos de la mejor manera posible, promoviendo la mejora
      continua a través del trabajo en equipo.
    </p>
    <div class="social-icons">
      <a
        class="social-icon"
        href="https://www.linkedin.com/in/alvaro-h-medrano-p-9b7802238/"
        target="_blank"><i class="fab fa-linkedin-in"></i></a
      >
      <a
        class="social-icon"
        href="https://github.com/Alvaro181529"
        target="_blank"><i class="fab fa-github"></i></a
      >
      <!-- <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"
          ><i class="fab fa-facebook-f"></i></a
        > -->
    </div>
  </div>
</section>
<hr class="m-0" />
