<section class="resume-section" id="awards">
  <div class="resume-section-content">
    <h2 class="mb-5">Certificaciones</h2>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Curso de Desarrollo de Apps Móviles - Google
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Curso de introducción al desarrollo web: HTML y CSS - Google
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Protege tu Negocio: Ciberseguridad en el Teletrabajo - Google
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Cybersecurity Essencials - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Introduccion a la Seguridad Cibernética - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        IT Essencials - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Introducción a IoT - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Get Connected - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        NDG LINUX ESSENTIALS - Cisco
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-star-half-alt"></i></span>
        Entrepreneurship - Cisco
      </li>
    </ul>
  </div>
</section>
