<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5">Habilidades</h2>
    <div class="subheading mb-3">Lenguajes de programación y herramientas</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><i class="fab fa-html5"></i></li>
      <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
      <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-angular"></i></li>
      <li class="list-inline-item"><i class="fab fa-react"></i></li>
      <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
      <li class="list-inline-item"><i class="fab fa-sass"></i></li>
      <li class="list-inline-item"><i class="fab fa-less"></i></li>
      <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
      <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
      <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
      <li class="list-inline-item"><i class="fab fa-npm"></i></li>
    </ul>
    <div class="subheading mb-3">Flujo de trabajo</div>
    <ul class="fa-ul mb-0">
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Reparación de equipos informáticos
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Desarrollo de aplicaciones
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Desarrollo de bases de datos
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Desarrollo de software personalizado
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Desarrollo web
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Diseño de experiencia de usuario (UX)
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Diseño web
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Gestión de la información
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Pruebas de software
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Seguridad de la información
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Diseño responsive
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Pruebas y depuración entre navegadores
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Desarrollo ágil con uso de metodologías Scrum y Kanban
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-check"></i></span>
        Habilidad en trabajo en equipo
      </li>
    </ul>
  </div>
</section>
<hr class="m-0" />
