<div class="d-flex justify-content-center align-items-center">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">
        <img
          class="img-fluid img-profile rounded-circle mx-auto mt-4"
          src="img/profile.png"
          alt="..."
          width="300"
          height="300"
        />
      </span>
    </a>
  </div>
  