<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5">Intereses</h2>
    <p>
      Aparte de ser desarrolador me interesa mucho la musica el la cual
      actualmente estoy en el conservatorio plurinacional de musica estando en
      la carrera de Guitarra Clasíca a nivel Licenciatura.
    </p>
    <p class="mb-0">
      Tambien soy amante de la Sciencia Ficción, la cual me ha llevado a leer
      libros como "Dune" de Frank Herbert y "Fundación" de Isaac Asimov. Ademas
      de ver serias de animacion japonesa y juegos RPG
    </p>
  </div>
</section>
<hr class="m-0" />
