<section class="resume-section" id="portafolio">
  <div id="portfolio">
    <h2 class="mb-5">Portafolio</h2>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <!-- Proyecto 1 -->
        <div class="col-lg-12 col-sm-12 mb-5">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="subheading mb-3">Flujo</div>
              <ul class="fa-ul mb-0">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Analisis de requerimientos
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de base de datos MySql
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de software PHP
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Arquitectura de software - MVC
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <a
                class="portfolio-box"
                href="#!"
                title="Sistema de Gestión de Inventario"
              >
                <img
                  class="img-fluid"
                  src="img/cenfco-system.png"
                  alt="Sistema Cenfco de gestión de inventario"
                  style="border-radius: 5%;"
                />
                <div class="portfolio-box-caption p-3">
                  <div class="project-category text-white-50">
                    Aplicación Web
                  </div>
                  <div class="project-name">Gestión de Inventario</div>
                </div>
              </a>
            </div>
         
          </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="col-lg-12 col-sm-12 mb-5">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="subheading mb-3">Flujo</div>
              <ul class="fa-ul mb-0">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Analisis de requerimientos
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de base de datos - Sqlite (Turso)
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de aplicacion de escritorio - ElectronJS
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de software - NodeJS
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span>Uso de
                  Bilbioteca - Whatsapp-web.js
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <a
                class="portfolio-box"
                href="#!"
                title="Aplicación de Escritorio Send Whats"
              >
                <img
                  class="img-fluid"
                  src="img/sendWhats.png"
                  alt="Aplicación de escritorio Send Whats"
                  style="border-radius: 5%;"
                />
                <div class="portfolio-box-caption p-3">
                  <div class="project-category text-white-50">
                    Aplicación de Escritorio
                  </div>
                  <div class="project-name">Send Whats</div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Proyecto 3 -->
        <div class="col-lg-12 col-sm-12 mb-5">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="subheading mb-3">Flujo</div>
              <ul class="fa-ul mb-0">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Analisis de requerimientos
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Migracion de base de datos de SqlServer a MySql
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de software - NodeJS
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Arquitectura de software - MVC
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <a class="portfolio-box" href="#!" title="Sistema Web ICALP">
                <img
                  class="img-fluid"
                  src="img/icalp-system.png"
                  alt="Sistema Web ICALP"
                  style="border-radius: 5%;"
                />
                <div class="portfolio-box-caption p-3">
                  <div class="project-category text-white-50">
                    Aplicación Web
                  </div>
                  <div class="project-name">Sistema ICALP</div>
                </div>
              </a>
            </div>
          
          </div>
        </div>

        <!-- Proyecto 4 -->
        <div class="col-lg-12 col-sm-12 mb-5">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="subheading mb-3">Flujo</div>
              <ul class="fa-ul mb-0">
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Analisis de requerimientos
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de base de datos PostgressSql
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Desarrollo de software NodeJS
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Backend NestJS - MVC
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check"></i></span
                  >Frontend NextJS - DI
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <a
                class="portfolio-box"
                href="#!"
                title="Biblioteca Conservatorio de Música"
              >
                <img
                  class="img-fluid"
                  src="img/biblioteca-coplumu.png"
                  alt="Biblioteca del Conservatorio de Música"
                  style="border-radius: 5%;"
                />
                <div class="portfolio-box-caption p-3">
                  <div class="project-category text-white-50">
                    Aplicación Web
                  </div>
                  <div class="project-name">Biblioteca Conservatorio</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="m-0" />
